body {
	margin: 0px;
	font-family: arial;
	font-size: 12px;
}
.topo {
	height: 30px;
	background-color: #333;
}
.topoint {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}
.topoleft {
	width: 50%;
	height: 30px;
	float: left;
}
.toporight {
	width: 50%;
	height: 28px;
	float: right;
	text-align: right;
	margin-top: 2px;
}
.topoleft ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.topoleft li {
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}
.topoleft li a {
	text-decoration: none;
	color: #FFF;
}
.topoleft li .ativo {
	color: blue;
}
.topobusca {
	width: 110px;
	height: 26px;
	outline: 0px;
}
.toporight a {
	float: right;

}
.toporight input {
	float: right;
}
.toporight img {
	margin-right: 4px;
}
.topo2 {
	height: 95px;
	color: #000;
}
.topo2int {
	height: 95px;
	width: 100%;
	max-width:1040px;
	margin:auto;
}
.logo {
	width: 230px;
	height: 95px;
	line-height: 95px;
	float: left;
	font-size: 30px;
}
.topo2 .banner {
	width: 650px;
	height: 80px;
	float: right;
	margin-top: 7px;
	background-color:#ff0000;
	border-radius:4px;
	color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
}
.menu {
	height: 40px;
	background-color:#ff0000;
}
.menuint {
	width: 100%;
	max-width: 1040;
	margin:auto;
	height: 40px;
}
.menuint ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.menuint li:hover .submenu {
	display:block;
}
.menuint li {
	float: left;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
}
.menuint a {
	text-decoration: none;
	color: #fff;
}
.submenu {
	width: 150px;
	background-color:#ff0000;
	position: absolute;
	display: none;
}
.submenuitem {
	height: 30px;
	line-height: 30px;
	width: 140px;
	padding-left: 10px;
}
.submenuitem:hover {
	background-color: #ff5555;
}
.ultimasnoticias {
	height: 40px;
}
.ultimasnoticiasint {
	width: 100%;
	max-width: 1040px;
	margin:auto;
	height: 40px;
}
.ultnoticiasarea {
	height: 28px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-top: 10px;

}
.ultnoticiastitulo {
	background-color: #ff0000;
	color: #fff;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.ultnoticiasnoticia {
	color: #000;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}
.containerint {
	width: 100%;
	max-width: 1040px;
	margin: auto;
}
.leftside {
	width: 753px;
	float: left;
}
.rightside {
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}
.widget {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.widget-titulo {
	height: 30px;
	border-bottom: 1px solid #ccc;
	background-color: #ddd;
	line-height: 30px;
	padding-left: 5px;
	font-size: 14px;
}
.widget-conteudo {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.noticia-item {
	font-size: 14px;
	margin: 0px 10px;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.noticia-item a {
	text-decoration: none;
	color: #000;
}
.slideshow {
	height: 335px;
	background-color: #ccc;
	overflow: hidden;
	margin-bottom: 20px;
}
.slideshowarea {
	height: 335px;
	width: 100000px;
	background-color: #ddd;
	transition:all 1s;
}
.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slideinfo {
	height: 70px;
	background-image: url('../images/slideshow-bg.png');
	background-size: auto 70px;
	margin-top: 265px;
}
.slideinfo-titulo {
	font-size: 20px;
	color: #fff;
	padding-top: 15px;
	padding-left: 20px;
}
.slideinfo-subtitulo {
	font-size: 13px;
	color: #fff;
	padding-left: 20px;
}
.slidebolinhas {
	position: absolute;
	width: 200px;
	height: 20px;
}
.bolinha {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 10px;
}
.noticiaarea1 {
	width: 430px;
	height: 420px;
	float: left;
}
.noticiaarea2 {
	width: 320px;
	height: 420px;
	float: left;
}
.noticiaitem {
	text-align: left;
	height: 88px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.noticiaimg {
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	padding: 3px;
	float: left;
}
.noticiatitulo {
	margin-left: 6px;
	font-size: 16px;
	float: left;
	width: 226px;
}
.noticiainfo {
	font-size: 12px;
	margin-left: 6px;
	color: #999;
	width: 226px;
	float: left;
}
.noticiabig {
	margin-left: 10px;

}
.noticiabig .noticiaimg {
	width: 384;
	height: 222px;
}
.noticiabig .noticiaimg img {
	height: 222px;
	width: 384px;
}
.noticiabig .noticiatitulo {
	font-size: 30px;
	width: 384px;
}
.menumobile {
	display: none;
}
@media only screen and (min-width: 906px) and (max-width: 1057px) {
	 .topoint,
	 .topo2int,
	 .menuint,
	 .ultimasnoticiasint,
	 .containerint {
	 	max-width: 890px;
	 } 
	 #menumobile {
	 	display: block !important;
	 }
	 .leftside {
	 	width: 603px;
	 }
	 .noticiaarea1 {
	 	width: 278px;
	 }
	 .noticiabig .noticiaimg {
	 	width: 245px;
	 }
	 .noticiabig .noticiaimg img {
	 	width: 245px;
	 }
	 .noticiabig .noticiatitulo {
	 	font-size: 25px;
    	width: 245px;
	 }
}
@media only screen and (min-width: 775px) and (max-width: 906px) {
	.topoint,
	 .topo2int,
	 .menuint,
	 .ultimasnoticiasint,
	 .containerint {
	 	max-width: 758px;
	 } 
	 .topo2 .banner {
	 	display: none;
	 }
	 #menumobile {
	 	display: block !important;
	 }
	 .logo {
	 	float: none;
	 	margin: auto;
	 }
	 .rightside {
	 	display: none;
	 }
	 .leftside {
	 	float: none;
	 	width: auto;
	 }
	 .noticiaarea1 {
	 	width: 436px;
	 }
	 .noticiabig .noticiaimg {
	 	width: 405px;
	 }
	 .noticiabig .noticiaimg img {
	 	width: 405px;
	 }
	 .noticiabig .noticiatitulo {
	 	font-size: 25px;
    	width: 405px;
	 }
}
@media only screen and (max-width: 775px) {
	.topoint,
	 .topo2int,
	 .menuint,
	 .ultimasnoticiasint,
	 .containerint {
	 	max-width: 320px;
	 } 
	 .topoleft {
	 	display: none;
	 }
	 .toporight {
	 	width: 100%;
	 }
	 .topo2 .banner {
	 	display: none;
	 }
	 .logo {
	 	float: none;
	 	margin: auto;
	 }
	 .menumobile {
	 	display: block;
	 }
	 .menu ul {
	 	position: absolute;
	 	background-color: red;
	 	z-index: 10;
	 	display: none;
	 }
	 .menuint li {
	 	float: none;
	 	height: auto;
	 }
	 .menuint li img {
	 	display: none;
	 }
	 .submenu {
	 	position: static;
	 	display: block;
	 }
	 .ultimasnoticias {
	 	display: none;
	 }
	 .rightside {
	 	display: none;
	 }
	 .leftside {
	 	margin-top: 10px;
	 	float: none;
	 	width: auto;
	 }
	 .noticiaarea1 {
	 	width: 320px;
	 	height: auto;
	 }
	 .noticiabig .noticiaimg {
	 	width: 290px;
	 }
	 .noticiabig .noticiaimg img {
	 	width: 290px;
	 }
	 .noticiabig .noticiatitulo {
	 	font-size: 20px;
    	width: 290px;
	 }
	 .noticiaarea2 {
	 	width: 300px;
	 	margin: auto;
	 	float: none;
	 	clear: both;
	 	padding-top: 20px;
	 }
	 .noticiaitem {
	 	clear: both;
	 }
	 .noticiatitulo {
	 	width: 206px;
	 }
	 .noticiainfo {
	 	width: 206px;
	 }
}